/* Globals
*****************************************************/

body {
  background: url('../img/bg/wooden-table.png');
}

.menu-box-yellow {
  background-color: #EFDD6F;
  border-bottom: 5px solid #7B4A12;
  box-shadow: 0 0 20px 0 #7B4A12;
}

/* Main Layout
*****************************************************/

.row {
  margin: 0;
}

.col-xs-2 {
  padding: 5px;
}

.container-fluid {
  height: 768px;
}

/* Main Menu
*****************************************************/

#main-menu {
  position: absolute;
  z-index: 2;
  top: 44px;
  left: 44px;
  width: 936px;
  height: 680px;
  border: 5px solid #7B4A12;
  border-radius: 30px;
  overflow: scroll;
}

.menu-btn-container {
  height: 278.656px;
  margin-top: 36px;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
}

.menu-btn-container button {
  width: 100%;
  height: 100%;
  font-size: 3em;
}


/* Topbar
*****************************************************/

.topbar {
  height: 95px;
  margin: 0 -15px 15px;
}

/* Top buttons */
.top-button {
  margin-top: 15px;
  width: 55px;
  height: 55px;
  font-size: 2.5rem;
}

/* Reward bar */
.reward-container {
  height: 95px;
  width: 100%;
  padding: 15px 5px;
}

.reward {
  float: left;
  height: 65px;
  width: 50px;
  margin: 0 2.1px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-bottom: 5px solid #E49135;
}

.reward img {
  width: 100%;
  height: 100%;
}

/* Message box
*****************************************************/

#message-box {
  position: absolute;
  top: 215px;
  left: 272px;
  z-index: 3;
  width: 480px;
  height: 338px;
  border: 5px solid #7B4A12;
  border-radius: 30px;
  padding: 30px;
  font-size: 3em;
  color: white;
}

#message-box span {
  font-size: 3em;
}

#message-box img {
  width: 75px;
  height: 75px;
}

#message-box button {
  width: 199px;
  margin-top: 10px;
}

.message-canvas {
  background-color: #738F9B;
  font-weight: 800;
  text-align: center;
  padding: 10px;
  border-radius: 5px; 
  -webkit-box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.5);
}

#rewards-menu {
  position: absolute;
  top: 215px;
  left: 272px;
  z-index: 4;
  width: 480px;
  height: 338px;
  border: 5px solid #7B4A12;
  border-radius: 30px;
  padding: 30px;
  font-size: 2em;
  color: #738F9B;
}

.img-rwd {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

/* Cards and Flipper
*****************************************************/

section.cardholder {
  min-height: 119px;
  max-height: 119px;
  position: relative;
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;
}

.card {
  -webkit-box-shadow: 0px 3px 30px -5px rgba(102,102,102,1);
  -moz-box-shadow: 0px 3px 30px -5px rgba(102,102,102,1);
  box-shadow: 0px 3px 30px -5px rgba(102,102,102,1);
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: right center;
     -moz-transform-origin: right center;
       -o-transform-origin: right center;
          transform-origin: right center;
}

.card.flipped {
  -webkit-transform: translateX( -100% ) rotateY( -180deg );
     -moz-transform: translateX( -100% ) rotateY( -180deg );
       -o-transform: translateX( -100% ) rotateY( -180deg );
          transform: translateX( -100% ) rotateY( -180deg );
}

.card div {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
}

.card .card-up {
  background-color: #738F9B;
}

.card .card-down {
  background-color: #738F9B;
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}